ion-menu-button {
  color: var(--ion-color-primary);
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.rightUpperCorner,
.leftUpperCorner,
.rightBottomCorner,
.leftBottomCorner {
  position: absolute;
  z-index: 10;
  width: clamp(150px, 35vw, 225px); // min: 100px, ideal: 15vw, max: 225px
  height: auto;
}

.rightUpperCorner{ 
  top: 0;
  right: 0;
}

.leftUpperCorner{ 
  top: 0;
  left: 0;
}

.rightBottomCorner{ 
  right: 0;
}

.leftBottomCorner{ 
  left: 0;
}

.ion-padding{
  --background:floralwhite;
  display: flex;
  text-align: center;  
  align-items: center;
  align-content: center;
  justify-content: center;
}

.map {
  position: relative;
  width: 100%;
  max-width: 900vmin; 
  margin: 2rem auto 1rem auto;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header{
  font-family: AnandaBlack;
}

.tittles{
  font-family: AnandaBlack;
  font-size: 2.5em;  
}
.number{
  font-family: Merlot;
  font-size:1.5em;
}
.font{
  font-family: AnandaBlack;
  font-size:1.5em;
}
.casualGrid{
  --ion-grid-columns: 3;
}

.costumeGrid{
  --ion-grid-columns: 2;
}