<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 
  <img class="rightUpperCorner" src="..\..\assets\img\cornerDecor\upperRightCorner.png"/>
  <img class="leftUpperCorner" src="..\..\assets\img\cornerDecor\upperLeftCorner.png"/>
  <div class="header">
    <img src="..\..\assets\img\WeddingStampNobackground.png"/>
    <h1 class="tittles">Héctor & Samantha</h1> 
    <div>
    <ion-label class="number">6</ion-label><ion-label class="font"> de diciembre <br>Espadas View Aibonito Camping</ion-label>
    </div>  <br>
    <h4> Acompañanos en nuestra nueva aventura</h4>
  </div>
  <br><br><br>
  <div>
    <img src="..\..\assets\img\separationCategories.png" style="width: 15%;"/>    
    <br><br><br>
    <ion-label class="tittles">Location Details</ion-label><br>
    <h2><strong>¿Dónde será la fiesta?</strong><br>
      La fiesta se llevará a cabo en el hermoso <strong>Espadas View Aibonito Camping</strong>, un lugar mágico rodeado de naturaleza y vistas impresionantes. 
      <br>¡Prepárate para una noche llena de diversión, baile y buena compañía!</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.757848612793!2d-66.2434997!3d18.1360644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0337c224c96757%3A0xb50b03a6dd193726!2sEspadas%20View%20Aibonito%20Camping!5e1!3m2!1ses!2spr!4v1750428103527!5m2!1ses!2spr"
      width="600"
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <h2><strong>Espadas View Aibonito Camping</strong><br>
      <strong>Dirección:</strong> 4QP4+CJC, C. Corozal, Aibonito, 00705<br>
      <strong>Horario:</strong> Desde las 4:00 PM hasta las 11:00 PM<br>
      <strong>Estacionamiento:</strong> El lugar cuenta con estacionamiento para todos los invitados.
    </h2>
  </div>
  <br><br><br>
  <div>
    <ion-label class="tittles">Codigo de Vestimenta</ion-label>
    <h2><strong>Casual con personalidad.</strong>
      <br>No hace falta venir de gala ni alquilar smoking. Ponte lo que te haga sentir cómodo/a y listo/a para bailar.
      <br><br>¿Te encantan los disfraces? ¡Genial! Puedes venir como vaquero, hada, astronauta o incluso de guineo si te da la gana. Solo te pedimos un pequeño favor: <strong>evitemos disfraces obscenos</strong>. Habrá niños presentes, y no queremos traumar a nadie (ni responder preguntas incómodas de 5 años).
    <br><br>Así que, ven con flow, sé tú mismo/a, pero con ropa puesta y buen gusto. </h2>
    <h3>Ejemplos:</h3>
    <h4>Casual</h4>
    <ion-grid class="casualGrid">
      <ion-row justify-content-center>
        <ion-col size="1">
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaM1.jpg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaH1.jpg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimenta.jpg"/>
        </ion-col>
        <ion-col size="1">
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaH2.jpg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaM4.jpg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaH3.jpg"/>
        </ion-col>
        <ion-col size="1">
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaM2.jpeg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaH4.jpg"/>
          <img src="..\..\assets\img\ejemploDeVestimenta\ejemploVestimentaM6.jpg"/>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4>Disfraces</h4>
    <ion-grid calss="costumeGrid">
      <ion-row justify-content-center> 
        <ion-col size="1"></ion-col>            
        <ion-col size="4">
          <img src="..\..\assets\img\ejemploDeDisfraz\ejemploDisfraz1.jpg"/>
          <img src="..\..\assets\img\ejemploDeDisfraz\ejemploDisfraz4.jpg"/>
        </ion-col>  
        <ion-col size="2"></ion-col>  
        <ion-col size="4">
          <img src="..\..\assets\img\ejemploDeDisfraz\ejemploDisfraz2.jpg"/>
          <img src="..\..\assets\img\ejemploDeDisfraz\ejemploDisfraz3.jpeg"/>
        </ion-col>  
        <ion-col size="2"></ion-col>   
      </ion-row>
    </ion-grid>
  </div>
  <br><br><br>
  <div>
    <ion-label class="tittles">Regalos</ion-label>
    <h2><strong>¿Regalos? Solo si insistes… </strong><br>
      No estamos esperando ningún regalo. Solo queremos verte bailar, reír y compartir este momento con nosotros.
      <br>
      Pero si te nace traer algo, una ayudita en forma de sobrecito siempre será bien recibida.<br>
      ¡Gracias por ser parte de nuestro día!
    </h2>
  </div>
  <br><br><br>
  <div>
    <ion-label class="tittles">RSVP</ion-label>
    <h2><strong>¡Reserva el día y tu mejor outfit!</strong><br>
      Nos encantaría contar contigo en nuestra celebración, pero necesitamos saber si te apuntas para poder guardar tu silla, tu plato (¡y tu pedazo de bizcocho!).<br>
      Favor ingrese en el enlace para empezar su formulario. <br><br>
      <strong>Favor de confirmar en o antes del 1 de octubre de 2025 <br>Nota: Si no confirma en o antes de la fecha pautada se considerará que no asistirá a la boda.</strong>
    </h2>
    <ion-button routerLink="/confirmationpage">Confrimar Asistencia</ion-button>
  </div>  
  <br><br><br>
  <div>
    <ion-label class="tittles">Contactos</ion-label>
    <h2><strong>Email:</strong></h2>
    <a href="mailto:menrod9098&#64;gmail.com">menrod9098&#64;gmail.com</a>
    <H2><strong>Números de telefonos:</strong></H2>
    <h3>Samantha 787-307-2299<br>Héctor 787-595-9991</h3>
  </div>
  <img class="rightBottomCorner" src="..\..\assets\img\cornerDecor\bottomRightCorner.png"/>
  <img class="leftBottomCorner" src="..\..\assets\img\cornerDecor\bottomLeftCorner.png"/>
</ion-content>