ion-menu-button {
  color: var(--ion-color-primary);
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.ion-padding{
  --background:floralwhite;
  display: flex;
  text-align: center;  
  align-items: center;
  align-content: center;
  justify-content: center;
}

.tittles{
  font-family: AnandaBlack;
  font-size: 2.5em;  
}

ion-input{
    text-align: center;
    border-bottom: #8c8c8c;
    border-bottom-style: solid;    
}

.warning{
  color: darkred;
}

.responsive-inline-text {
  display: inline;
  white-space: normal;
  word-break: break-word;
}

.inline-checkbox {
  vertical-align: middle;
  padding: 0 !important;
  --padding-start: 0px;
  --padding-end: 0px;
  --min-width: auto;
  --size: 20px; // you can reduce if needed
  transform: translateY(1px); // optional tweak to align better with text
}