<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acomodo de mesas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 
     <img class="rightUpperCorner" src="assets/img/cornerDecor/upperRightCorner.png"/>
  <img class="leftUpperCorner" src="assets/img/cornerDecor/upperLeftCorner.png"/>
  <img src="assets/img/WeddingStampNobackground.png"/>
<ion-grid class="casualGrid">
    <ion-row justify-content-center>
        <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">1</ion-label></div>
            <ion-label class="font">
                Ailine L. Cintrón Díaz<br>
                Marta Cintrón Díaz<br>
                Damián<br>
                Alarik<br>
                Diana A. Rodríguez Cintrón<br>
                Nathaniel A. Ramos Rodríguez</ion-label>
        </ion-col>
         <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">2</ion-label></div>
             <ion-label class="font">
                Epifania Hernández Colón <br>
                Héctor L. Mendoza García<br>
                Carmen E. Mendoza Hernández<br>
                Nery L. Mendoza Hernández<br>
                Mery R. Gonzalez<br>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">3</ion-label></div>
             <ion-label class="font">
                Alexie Rodríguez Rosario<br>
                Rosalyn Berríos Ortiz<br>
                Ray<br>
                Rayan<br>
                Roselyn Bernier Berríos
            </ion-label>
        </ion-col>
         <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">4</ion-label></div>
             <ion-label class="font">
                Susana Hernández<br>
                Javier Collado<br>
                Marta Rivera<br>
                Luis D. Rolón <br>
                Maria Rolon <br>
                Daniel Rolon
        </ion-label>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">5</ion-label></div>
             <ion-label class="font">
                Irma Rosario Torres<br>
                Reynaldo Colón<br>
                Kervin Colón Rosario<br>
                Irnerie L. Colón Rosario<br>
                Miguel Núñez<br>
                María C. Rosario Torres<br>
             </ion-label>
        </ion-col>
         <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">6</ion-label></div>
             <ion-label class="font">
                Abel Rivera<br>
                Ladiz N. Negrón<br>
                Evani<br>
                Eiden<br>
                María Noel<br>
                Lourdes Sanchez<br>
                Rosa Rivera<br>
             </ion-label>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">7</ion-label></div>
             <ion-label class="font">Libre asiento</ion-label>
        </ion-col>
         <ion-col size="1">
            <div><ion-label class="tableLabel">Mesa </ion-label><ion-label class="number">8</ion-label></div>
             <ion-label class="font">Libre asiento</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>
<img class="rightBottomCorner" src="assets/img/cornerDecor/bottomRightCorner.png"/>
  <img class="leftBottomCorner" src="assets/img/cornerDecor/bottomLeftCorner.png"/>
</ion-content>