<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Itinerario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">    
    <img class="rightUpperCorner" src="assets/img/cornerDecor/upperRightCorner.png"/>
    <img class="leftUpperCorner" src="assets/img/cornerDecor/upperLeftCorner.png"/>

    <ion-label class="tittles">Itinerario del dia</ion-label><br><br>
    <h2>El gran día está lleno de momentos especiales y queremos compartir cada uno de ellos contigo.<br> Aquí tienes el itinerario detallado para que no te pierdas nada:
      <br><br><div class="header">Itinerario:</div><br>
        3:00 PM - Llegada y Bienvenida de los invitados<br>
        4:00 PM - Comienzo de la Ceremonia <br>
        5:00 PM - Sesión de Fotos<br>
        5:30 PM - Cóctel y Aperitivos<br>
        6:00 PM - Cena<br>
        7:30 PM - Primer Baile de los novios, Baile del padre y la novia, Baile de la madre y el novio<br>
        8:00 PM - Fiesta y Baile<br>
        11:00 PM - Corte de Pastel<br>
        12:00 AM - Despedida<br><br>
        <strong>Nota:</strong> El horario es aproximado y puede estar sujeto a cambios. <br><br><strong> Te recomendamos llegar con tiempo para disfrutar de cada momento.</strong>
        <br><br><strong> La ceremonia será desconectada.</strong><br> 
        Tendrán un momento para sacar sus fotos. 
        Una vez finalizado el momento de las fotos, le exhortamos a que guarden su celular y estén más presentes en el momento. 
        A los invitados que deseen fotos de la ceremonia se les enviará un álbum digital vía email.
        Deberán solicitarlo contactándose con uno de los novios o por correo electrónico.<br>
    </h2>
     <img class="rightBottomCorner" src="assets/img/cornerDecor/bottomRightCorner.png"/>
    <img class="leftBottomCorner" src="assets/img/cornerDecor/bottomLeftCorner.png"/> 
</ion-content>