<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Juegos y Actividades</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
     <img class="rightUpperCorner" src="assets/img/cornerDecor/upperRightCorner.png"/>
  <img class="leftUpperCorner" src="assets/img/cornerDecor/upperLeftCorner.png"/>
    <h1 class="tittles">Juegos de mesa</h1>
    <h3>
        Juego de cartas grandes<br>
        Sorry<br>
        Cards Against Humanity Out of Line (17+ <strong>No para niños</strong>)<br>
        Exploding Kittens Party Pack<br>
        Soccer y Hockey de mesa<br>
    </h3>
    <h1 class="tittles">Juegos</h1>   
    <h3>Arcade de baloncesto<br>
        Lanzamiento de sacos de arena<br>
        X y 0<br>
        Tabla de dardo<br>
        Laser Tag<br>
        Bolos fantasma<br>
        Juego de pesca<br>
        Lanzamiento de aros con sombrero de bruja<br>
    </h3>
    <h1 class="tittles">Actividades para niños pequeños</h1> 
    <h3>
        Libro de coloreal<br>
        Haz tu personaje de halloween<br>
        
    </h3>
   <h1 class="tittles">Retos de las calabazas</h1> 
<h3>
  Hay calabazas escondidas en el lugar. Cada una de ellas tiene un reto. 
  Cuando encuentres una calabaza, puedes hacer el reto o dejarlo para la próxima persona.<br><br>
  <strong>Una vez hayas sacado el papel de la calabaza, debes hacer el reto.</strong>
</h3>
<img class="rightBottomCorner" src="assets/img/cornerDecor/bottomRightCorner.png"/>
  <img class="leftBottomCorner" src="assets/img/cornerDecor/bottomLeftCorner.png"/>
</ion-content>