<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <img class="rightUpperCorner" src="assets/img/cornerDecor/upperRightCorner.png"/>
    <img class="leftUpperCorner" src="assets/img/cornerDecor/upperLeftCorner.png"/>
    <br><br><br>
    <ion-label class="tittles">Menú Principal</ion-label><br><br>
    <h2>Habrá una variedad de opciones deliciosas para los invitados. 
      <br><br><div class="header">El menú incluye:</div><br>
        Arroz blanco,<br>
        Habichuelas guisadas,<br>
        Arroz con gandules,<br>
        Pechuga en salsa alfredo,<br>
        Pernil,<br>
        Ensalada de coditos<br>
    
    <br><br> <div class="header"> Aperitivos:</div><br>
        Sorullitos de maíz,<br>
        Antipasto con galletas,<br>
        Sandwishitos de queso y guayaba,<br>
        Sandwishitos de jamón y queso<br>
  </h2>

    <h2>Bebidas alcohólicas y no alcohólicas estarán disponibles para todos los invitados.<br><br>
    <div class="header">Bebidas alcohólicas:</div><br>
    Tenemos DonQ y Michelob. Permitimos sus propias bebidas alcohólicas, como vino, whisky, gin, vodka, cerveza, etc. 
    Les aseguramos que su bebida será solo para ustedes. <br></h2>
    
    <h2>¡Esperamos que disfruten de la comida!</h2>
    <h3><strong>Nota:</strong> los aperitivos pueden estar sujeto a cambio.</h3>
    <img class="rightBottomCorner" src="assets/img/cornerDecor/bottomRightCorner.png"/>
    <img class="leftBottomCorner" src="assets/img/cornerDecor/bottomLeftCorner.png"/>    
</ion-content>